<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @picture_number.title %>
</p>

<%= link_to 'Edit', edit_picture_number_path(@picture_number) %> |
<%= link_to 'Back', picture_numbers_path %>
