/* @group Base */
/* line 7, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
/* line 13, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container * {
  box-sizing: border-box;
}
/* line 16, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container .chosen-drop {
  position: absolute;
  top: 100%;
  z-index: 1010;
  width: 100%;
  border: 1px solid #aaa;
  border-top: 0;
  background: #fff;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  display: none;
}
/* line 27, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container.chosen-with-drop .chosen-drop {
  display: block;
}
/* line 30, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container a {
  cursor: pointer;
}
/* line 35, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container .search-choice .group-name, .chosen-container .chosen-single .group-name {
  margin-right: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: normal;
  color: #999999;
}
/* line 42, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container .search-choice .group-name:after, .chosen-container .chosen-single .group-name:after {
  content: ":";
  padding-left: 2px;
  vertical-align: top;
}

/* @end */
/* @group Single Chosen */
/* line 54, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-single .chosen-single {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0 0 0 8px;
  height: 25px;
  border: 1px solid #aaa;
  border-radius: 5px;
  background-color: #fff;
  background: linear-gradient(#fff 20%, #f6f6f6 50%, #eee 52%, #f4f4f4 100%);
  background-clip: padding-box;
  box-shadow: 0 0 3px #fff inset, 0 1px 1px rgba(0, 0, 0, 0.1);
  color: #444;
  text-decoration: none;
  white-space: nowrap;
  line-height: 24px;
}
/* line 71, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-single .chosen-single input[type="text"] {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}
/* line 77, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-single .chosen-default {
  color: #999;
}
/* line 80, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-single .chosen-single span {
  display: block;
  overflow: hidden;
  margin-right: 26px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 87, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-single .chosen-single-with-deselect span {
  margin-right: 38px;
}
/* line 90, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-single .chosen-single abbr {
  position: absolute;
  top: 6px;
  right: 26px;
  display: block;
  width: 12px;
  height: 12px;
  background: url("chosen-sprite.png") -42px 1px no-repeat;
  font-size: 1px;
}
/* line 99, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-single .chosen-single abbr:hover {
  background-position: -42px -10px;
}
/* line 103, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
  background-position: -42px -10px;
}
/* line 106, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-single .chosen-single div {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 18px;
  height: 100%;
}
/* line 113, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-single .chosen-single div b {
  display: block;
  width: 100%;
  height: 100%;
  background: url("chosen-sprite.png") no-repeat 0px 2px;
}
/* line 120, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-single .chosen-search {
  position: relative;
  z-index: 1010;
  margin: 0;
  padding: 3px 4px;
  white-space: nowrap;
}
/* line 127, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-single .chosen-search input[type="text"] {
  margin: 1px 0;
  padding: 4px 20px 4px 5px;
  width: 100%;
  height: auto;
  outline: 0;
  border: 1px solid #aaa;
  background: url("chosen-sprite.png") no-repeat 100% -20px;
  font-size: 1em;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}
/* line 141, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-single .chosen-drop {
  margin-top: -1px;
  border-radius: 0 0 4px 4px;
  background-clip: padding-box;
}
/* line 146, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-single.chosen-container-single-nosearch .chosen-search {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

/* @end */
/* @group Results */
/* line 154, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container .chosen-results {
  color: #444;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 4px 4px 0;
  padding: 0 0 0 4px;
  max-height: 240px;
  -webkit-overflow-scrolling: touch;
}
/* line 163, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container .chosen-results li {
  display: none;
  margin: 0;
  padding: 5px 6px;
  list-style: none;
  line-height: 15px;
  word-wrap: break-word;
  -webkit-touch-callout: none;
}
/* line 171, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container .chosen-results li.active-result {
  display: list-item;
  cursor: pointer;
}
/* line 175, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container .chosen-results li.disabled-result {
  display: list-item;
  color: #ccc;
  cursor: default;
}
/* line 180, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container .chosen-results li.highlighted {
  background-color: #3875d7;
  background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
  color: #fff;
}
/* line 185, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container .chosen-results li.no-results {
  color: #777;
  display: list-item;
  background: #f4f4f4;
}
/* line 190, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container .chosen-results li.group-result {
  display: list-item;
  font-weight: bold;
  cursor: default;
}
/* line 195, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container .chosen-results li.group-option {
  padding-left: 15px;
}
/* line 198, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container .chosen-results li em {
  font-style: normal;
  text-decoration: underline;
}

/* @end */
/* @group Multi Chosen */
/* line 208, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-multi .chosen-choices {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0 5px;
  width: 100%;
  height: auto;
  border: 1px solid #aaa;
  background-color: #fff;
  background-image: linear-gradient(#eee 1%, #fff 15%);
  cursor: text;
}
/* line 220, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-multi .chosen-choices li {
  float: left;
  list-style: none;
}
/* line 223, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-multi .chosen-choices li.search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
/* line 227, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  margin: 1px 0;
  padding: 0;
  height: 25px;
  outline: 0;
  border: 0 !important;
  background: transparent !important;
  box-shadow: none;
  color: #999;
  font-size: 100%;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
  width: 25px;
}
/* line 243, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-multi .chosen-choices li.search-choice {
  position: relative;
  margin: 3px 5px 3px 0;
  padding: 3px 20px 3px 5px;
  border: 1px solid #aaa;
  max-width: 100%;
  border-radius: 3px;
  background-color: #eeeeee;
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
  background-size: 100% 19px;
  background-repeat: repeat-x;
  background-clip: padding-box;
  box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  color: #333;
  line-height: 13px;
  cursor: default;
}
/* line 259, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-multi .chosen-choices li.search-choice span {
  word-wrap: break-word;
}
/* line 262, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  position: absolute;
  top: 4px;
  right: 3px;
  display: block;
  width: 12px;
  height: 12px;
  background: url("chosen-sprite.png") -42px 1px no-repeat;
  font-size: 1px;
}
/* line 271, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
  background-position: -42px -10px;
}
/* line 276, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-multi .chosen-choices li.search-choice-disabled {
  padding-right: 5px;
  border: 1px solid #ccc;
  background-color: #e4e4e4;
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
  color: #666;
}
/* line 283, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-multi .chosen-choices li.search-choice-focus {
  background: #d4d4d4;
}
/* line 285, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
  background-position: -42px -10px;
}
/* line 290, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-multi .chosen-results {
  margin: 0;
  padding: 0;
}
/* line 294, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-multi .chosen-drop .result-selected {
  display: list-item;
  color: #ccc;
  cursor: default;
}

/* @end */
/* @group Active  */
/* line 304, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-active .chosen-single {
  border: 1px solid #5897fb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
/* line 309, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-active.chosen-with-drop .chosen-single {
  border: 1px solid #aaa;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-image: linear-gradient(#eee 20%, #fff 80%);
  box-shadow: 0 1px 0 #fff inset;
}
/* line 318, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-active.chosen-with-drop .chosen-single div {
  border-left: none;
  background: transparent;
}
/* line 321, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -18px 2px;
}
/* line 326, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-active .chosen-choices {
  border: 1px solid #5897fb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
/* line 329, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-active .chosen-choices li.search-field input[type="text"] {
  color: #222 !important;
}

/* @end */
/* @group Disabled Support */
/* line 337, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-disabled {
  opacity: 0.5 !important;
  cursor: default;
}
/* line 340, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-disabled .chosen-single {
  cursor: default;
}
/* line 343, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-disabled .chosen-choices .search-choice .search-choice-close {
  cursor: default;
}

/* @end */
/* @group Right to Left */
/* line 350, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-rtl {
  text-align: right;
}
/* line 352, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-rtl .chosen-single {
  overflow: visible;
  padding: 0 8px 0 0;
}
/* line 356, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-rtl .chosen-single span {
  margin-right: 0;
  margin-left: 26px;
  direction: rtl;
}
/* line 361, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-rtl .chosen-single-with-deselect span {
  margin-left: 38px;
}
/* line 364, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-rtl .chosen-single div {
  right: auto;
  left: 3px;
}
/* line 368, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-rtl .chosen-single abbr {
  right: auto;
  left: 26px;
}
/* line 372, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-rtl .chosen-choices li {
  float: right;
}
/* line 374, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-rtl .chosen-choices li.search-field input[type="text"] {
  direction: rtl;
}
/* line 377, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-rtl .chosen-choices li.search-choice {
  margin: 3px 5px 3px 0;
  padding: 3px 5px 3px 19px;
}
/* line 380, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
  right: auto;
  left: 4px;
}
/* line 386, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-rtl.chosen-container-single .chosen-results {
  margin: 0 0 4px 4px;
  padding: 0 4px 0 0;
}
/* line 390, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-rtl .chosen-results li.group-option {
  padding-right: 15px;
  padding-left: 0;
}
/* line 394, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
  border-right: none;
}
/* line 397, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-rtl .chosen-search input[type="text"] {
  padding: 4px 5px 4px 20px;
  background: url("chosen-sprite.png") no-repeat -30px -20px;
  direction: rtl;
}
/* line 403, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-rtl.chosen-container-single .chosen-single div b {
  background-position: 6px 2px;
}
/* line 407, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
  background-position: -12px 2px;
}

/* @end */
/* @group Retina compatibility */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  /* line 418, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
  .chosen-rtl .chosen-search input[type="text"],
  .chosen-container-single .chosen-single abbr,
  .chosen-container-single .chosen-single div b,
  .chosen-container-single .chosen-search input[type="text"],
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
  .chosen-container .chosen-results-scroll-down span,
  .chosen-container .chosen-results-scroll-up span {
    background-image: url("chosen-sprite@2x.png") !important;
    background-size: 52px 37px !important;
    background-repeat: no-repeat !important;
  }
}
/* @end */
/* line 9, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen.scss */
.chosen-container {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
/* line 11, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen.scss */
.chosen-container * {
  box-sizing: border-box;
}

/* line 17, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen.scss */
.chosen-container-single .chosen-single {
  background: linear-gradient(#fff 20%, #f6f6f6 50%, #eee 52%, #f4f4f4 100%);
}
/* line 20, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen.scss */
.chosen-container-single .chosen-search {
  background: url("chosen-sprite.png") no-repeat 100% -20px;
}

/* line 27, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen.scss */
.chosen-container .chosen-results li.highlighted {
  background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
}

/* line 34, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen.scss */
.chosen-container-multi .chosen-choices {
  background-image: linear-gradient(#eee 1%, #fff 15%);
}
/* line 38, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen.scss */
.chosen-container-multi .chosen-choices li.search-choice {
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
}
/* line 41, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen.scss */
.chosen-container-multi .chosen-choices li.search-choice-disabled {
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
}

/* line 49, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen.scss */
.chosen-container-active.chosen-with-drop .chosen-single {
  background-image: linear-gradient(#eee 20%, #fff 80%);
}

/* line 56, /Users/Jesenovic/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen.scss */
.chosen-rtl .chosen-search input[type="text"] {
  background: url("chosen-sprite.png") no-repeat -30px -20px;
}
