<div class="page-header head-page">
  <h1>Dashboard</h1>
</div>

<% if @articles != nil %>
<div class="alert alert-warning" role="alert"><h4 style="margin-bottom: 0px;">Artikli koji su pred istekom zaliha</h4></div>
 <%= render partial: 'dashboards/artikli_zalihe_grid' %>
<% end %>